<ion-content class='ion-padding'>
  <topo-login title="Cadastro de Usuário"></topo-login>
    <form [formGroup]='loginForm' (submit)="createUser()">
      <ion-item>
        <ion-icon name='person' color='button' slot='start'></ion-icon>
        <ion-input formControlName='nome' type='text' placeholder='Nome' autfocus='true'></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name='person' color='button' slot='start'></ion-icon>
        <ion-input formControlName='snome' type='text' placeholder='Sobrenome' autfocus='true'></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name='mail' color='button' slot='start'></ion-icon>
        <ion-input formControlName='email' type='email' placeholder='E-mail' autfocus='true'></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name='lock-closed' color='button' slot='start'></ion-icon>
        <ion-input formControlName='password' type='password' placeholder='Senha'></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name='lock-closed' color='button' slot='start'></ion-icon>
        <ion-input formControlName='confirm_pass' type='confirm_pass' placeholder='Confirmar'></ion-input>
      </ion-item>
      <ion-button [disabled]='loginForm.invalid' type='submit' expand='block' color='button'>Enviar</ion-button>
    </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill='clear' color="medium">Back</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>