<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title (click)="logout()">
            IFinanças na área!
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
      <ion-label>mês</ion-label>
      <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="mes"></ion-datetime>
  </ion-item><br>
  <dash-card
      valor = {{conta.pagar.valor}}
      tipo = "pagar"
      num = {{conta.pagar.num}}
  ></dash-card>

  <dash-card
      valor = {{conta.receber.valor}}
      tipo = "receber"
      num = {{conta.receber.valor}}
  ></dash-card>

  <dash-card
      valor = "600,00"
      tipo = "saldo"
      num = "15"
  ></dash-card>
 
  <div id="btnMenu">
    <ion-button [routerLink]="['/contas/pagar']" fill="outline" expand="block">Contas a Pagar</ion-button>
    <ion-button [routerLink]="['/contas/receber']" fill="outline" expand="block">Contas a Receber</ion-button>
  </div>
</ion-content>